// All sections
.header {
  margin: 0;
  background: var(--color-white);
}
.main--background-color {
  background: var(--color-back-light);
}
.popular {
  background: var(--color-back-light);
  padding: 3rem 0 6rem;
}
.notes {
  background: var(--color-back-light);
  padding-bottom: 6rem;
}
.hot {
  background: var(--color-grey-secondary);
  padding: 6rem 0;
}
.herous {
  min-height: 100vh;
  min-height: 100dvh;
  background: url("../img/hero-2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 6.3rem 0 7.2rem;
  @media only screen and (min-width: 112.5em) {
    min-height: 80vh;
    min-height: 80dvh;
  }
}
.note {
  background: var(--color-back-light);
  padding: 6rem 0 6rem;
}
.comments {
  padding: 5rem 0 3rem;
  @media only screen and (min-width: 37.5em) {
    padding: 9rem 0 3rem;
  }
}
