:root {
  --color-grey-primary: #4b5157;
  --color-grey-secondary: #262d33;
  --color-white: #fff;
  --color-white-opacity: rgba(255, 255, 255, 0.4);
  --color-blue: #4592ff;
  --color-green: #3dc47e;
  --color-greyblue: #6e99ae;
  --color-bluegreen: #3bbdc4;
  --color-grey-icon: #bcbfc2;
  --color-grey-blue: #b4d1e0;
  --color-purple: #ac8ee3;
  --color-orange: #ffa34d;
  --color-red: #ff4f52;
  --color-red-accent: #eb5757;
  --color-back-dark: #262d33;
  --color-back-light: #e5e5e5;
  --color-border: #d9dadb;
  --color-grey: #d9dadb;
  --color-grey-span: #939699;
  --gap: 3rem;

  --width-content: 117rem;
  --fz-tiny: 12px;
  --fz-small: 14px;
  --fz-primary: 1.4rem;
  --fz-medium: 16px;
  --fz-big: 2.5rem;
  --fz-title: 4rem;
}
