<section class="articles-top">
  <div class="container">
    <div class="articles-top__content-grid grid">
      <article class="articles-top__content">
        <p class="start">Many geographers are trained in toponymy and cartology, this is not their main
          preoccupation. Geographersstudy the space and the temporal database distribution of phenomena, processes, and
          features as well as the interaction
          of humans and their environment. Because space and place affect a variety of topics,
          such as economics, health, climate, plants and animals, geography is highly
          interdisciplinary.The interdisciplinary nature of the geographical approach depends

          on an attentiveness to the relationship between physical and human
          phenomena and its spatial patterns.</p>

        <h3>
          Integrated Geography
        </h3>
        <p>Geography as a discipline can be split broadly into two main subsidiary fields: human geography and physical
          geography. The former largely focuses on the built environment and how humans create, view, manage, and
          influence space. The latter examines the natural environment, and how organisms, climate, soil, water, and
          landforms produce and interact.</p>
        <p>The difference between these approaches led to a third field, environmental geography, which combines
          physical
          and human geography and concerns the interactions between the environment and humans.</p>
        <p>The accompanying text mentions seven outer regions beyond the encircling ocean. The descriptions of five of
          them have survived. In contrast to the Imago Mundi, an earlier Babylonian world map dating back to the 9th
          century BC depicted Babylon as being further north from the center of the world, though it is not certain what
          that center was supposed to represent.</p>
      </article>
      <div class="articles-top__note author">
        <div class="author-info">
          <img class="author-info__img" src="img/mira.jpg" alt="A girl with a leaf of tree">
          <p class="title author-info__name">Mira Anderson</p>
          <span class="author-info__position">Traveler & Photographer</span>
          <p class="author-info__num">82 articles</p>
          <div class="author-info__sotial">
            <svg class="sotial-icons">
              <use xlink:href="img/sprite.svg#facebookR">
              </use>
            </svg>
            <svg class="sotial-icons">
              <use xlink:href="img/sprite.svg#twiterR">
              </use>
            </svg>
            <svg class="sotial-icons">
              <use xlink:href="img/sprite.svg#instaR">
              </use>
            </svg>
          </div>
        </div>
        <a href="#" class="author__link">Follow on Universal</a>
      </div>
    </div>

    @include('carusel.html')
    <div class="articles-top__content-grid grid">
      <div class="articles-top__content">
        <p>The oldest known world maps date back to ancient Babylon from the 9th century BC. The best known Babylonian
          world map, however, is the Imago Mundi of 600 BC. The map as reconstructed by Eckhard Unger shows Babylon on
          the Euphrates, surrounded by a circular landmass showing Assyria, Urartu and several cities, in turn
          surrounded by a "bitter river" (Oceanus), with seven islands arranged around it so as to form a seven-pointed
          star.</p>
        <p>The accompanying text mentions seven outer regions beyond the encircling ocean. The descriptions of five of
          them have survived. In contrast to the Imago Mundi, an earlier Babylonian world map dating back to the 9th
          century BC depicted Babylon as being further north from the center of the world, though it is not certain what
          that center was supposed to represent.</p>
        <p>The ideas of Anaximander: considered by later Greek writers to be the true founder of geography, come to us
          through fragments quoted by his successors. Anaximander is credited with the invention of the gnomon, the
          simple, yet efficient Greek instrument that allowed the early measurement of latitude. Thales is also credited
          with the prediction of eclipses. The foundations of geography can be traced to the ancient cultures, such as
          the ancient, medieval, and early modern Chinese.</p>
      </div>

      <article class="articles-top__note theme">
        <h3 class="title theme__title">Material on Theme</h3>
        <img src="img/girath.jpg" alt="The yellow girath" class="theme__img">
        <h4 class="title theme__subtitle">Application of Postcolonial Theory in the Middle East</h4>
        <p class="theme__text">In the essays "Overstating the Arab State", by Nazih Ayubi, and "Is Jordan Palestine?",
          by Raphael Israel, the authors deal with the psychologically fragmented postcolonial identity.</p>
        <div class="theme__notification info">
          <div class="info__item">
            <svg class="eye">
              <use xlink:href="img/sprite.svg#Eye">
              </use>
            </svg>
            <span class="date">1,623</span>
          </div>
          <div class="info__item">
            <svg class="comment">
              <use xlink:href="img/sprite.svg#Comment">
              </use>
            </svg>
            <span class="date">102</span>
          </div>
        </div>
      </article>

      <article class="articles-top__content">
        <div class="articles-top__qout qout">

          <div class="qout__content">
            <blockquote class="title qout__text"><a href="#" class="qout__link">Names of places... are not geography...
                know by heart a whole
                gazetteer
                full
                of them would not, in itself, constitute anyone a geographer. Geography has higher aims than this: it
                seeks to classify phenomena.</a>
            </blockquote>
            <div class="qout__author">
              <img src="img/william.jpg" alt="The man in glasses">
              <div class="qout__info">
                <h4 class="qout__author-name">William Peterson</h4>
                <span class="qout__position">Travel Agent</span>
              </div>
            </div>
          </div>

        </div>
      </article>

      <div class="articles-top__content">
        <p>The Greeks, who were the first to explore geography as both art and science, achieved this through
          Cartography,
          Philosophy, and Literature, or through Mathematics. There is some debate about who was the first person to
          assert that the Earth is spherical in shape, with the credit going either to Parmenides or Pythagoras.
          Anaxagoras was able to demonstrate that the profile of the Earth was circular by explaining eclipses. However,
          he still believed that the Earth was a flat disk, as did many of his contemporaries.</p>
        <p>The first rigorous system of latitude and longitude lines is credited to Hipparchus. He employed a
          sexagesimal system that was derived from Babylonian mathematics.</p>
      </div>
      <div class="articles-top__tags tags">
        <ul class="list-reset tags__list">
          <li class="tags__item"><a href="#" class="tags__link">Travel</a></li>
          <li class="tags__item"><a href="#" class="tags__link">Destinations</a></li>
          <li class="tags__item"><a href="#" class="tags__link">Nature</a></li>
          <li class="tags__item"><a href="#" class="tags__link">World</a></li>
          <li class="tags__item"><a href="#" class="tags__link">Alaska</a></li>
        </ul>
      </div>
      <div class="articles-top__support support">
        <h3 class="title support__title">Show Your Support</h3>
        <ul class="list-reset support__list">
          <li class="support__item">
            <a href="#" class="btn-reset btn btn--red support__link">
              <svg class="heart-medium support__icon">
                <use xlink:href="img/sprite.svg#Heart-medium">
                </use>
              </svg>
              Like
              <span class="support__data support__data--pink">42</span>
            </a>
          </li>
          <li class="support__item">
            <a href="#" class="btn-reset btn btn--darkblue support__link">
              <svg class="fb-icon support__icon">
                <use xlink:href="img/sprite.svg#Facebook">
                </use>
              </svg>
              Share
              <span class="support__data support__data--blue">80</span>
            </a>
          </li>
          <li class="support__item">
            <a href="#" class="btn-reset btn  support__link">
              <svg class="twit support__icon">
                <use xlink:href="img/sprite.svg#twitter">
                </use>
              </svg>
              Tweet
              <span class="support__data support__data--lightblue">33</span>
            </a>
          </li>
          <li class="support__item">
            <button class="btn-reset">
              <svg class="dots-icon">
                <use xlink:href="img/sprite.svg#dots">
                </use>
              </svg>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>