<div class="articles-top__carusel">
  <div class="container">
    <div class="carusel">
      <div class="carusel__item">
        <figure class="carusel__content">
          <img class="carusel__img" src="img/slider.jpg" alt="The natural">
          <figcaption class="carusel__desc">
            <span class="carusel__text">Geostatistics deal with quantitative data analysis, specifically the application
              of
              statistical methodology</span>
            <div class="carusel__author author-box">
              <img src="img/andrew.jpg" alt="The man look aside">
              <div class="author-box__info">
                <p class="author-box__name">Andrew Washington</p>
                <span class="author-box__position">Photographer</span>
              </div>
            </div>
          </figcaption>
        </figure>
      </div>
      <div class="carusel__item">
        <figure class="carusel__content">
          <img class="carusel__img" src="img/slider.jpg" alt="The beautiful natural">
          <figcaption class="carusel__desc">
            <span class="carusel__text">Geostatistics deal with quantitative data analysis, specifically the application
              of
              statistical methodology</span>
            <div class="carusel__author author-box">
              <img src="img/andrew.jpg" alt="The man in a scarf">
              <div class="author-box__info">
                <p class="author-box__name">Andrew Washington</p>
                <span class="author-box__position">Photographer</span>
              </div>
            </div>
          </figcaption>
        </figure>
      </div>
      <div class="carusel__item">
        <figure class="carusel__content">
          <img class="carusel__img" src="img/slider.jpg" alt="The valery and mountans">
          <figcaption class="carusel__desc">
            <span class="carusel__text">Geostatistics deal with quantitative data analysis, specifically the application
              of
              statistical methodology</span>
            <div class="carusel__author author-box">
              <img src="img/andrew.jpg" alt="The man in a hot">
              <div class="author-box__info">
                <p class="author-box__name">Andrew Washington</p>
                <span class="author-box__position">Photographer</span>
              </div>
            </div>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>