<section class="comments">
  <div class="container">
    <div class="comments__top" id="comment-read">
      <h2 class="comments__title title">Comments <span class="comments__span">19</span></h2>
      <button class="btn-reset btn comments__btn" type="button">
        <svg class="pencil">
          <use xlink:href="img/sprite.svg#Pencil">
          </use>
        </svg>
        Add comment
      </button>
    </div>
    <div class="comments__content comment-user">
      <div class="comment-user__list">
        <div class="comment-user__item">
          <div class="comment-user__content">
            <a href="#" class="comment-user__link">
              <img src="img/user-1.png" alt="a man in a winter hat" class="comment-user__img">
            </a>
            <article class="comment-user__info">
              <h3 class="comment-user__name title">Ryan Hall</h3>
              <span class="comment-user__data date">July 17, 6:38 pm</span>
              <p class="comment-user__text">
                In the event, "in places like Iraq and Jordan, leaders of the new sovereign states were brought in from
                the outside, tailored to suit colonial interests and commitments
              </p>
              <div class="comment-user__icons info">
                <div class="info__item info__item--center">
                  <svg class="comment">
                    <use xlink:href="img/sprite.svg#Comment">
                    </use>
                  </svg>
                  <a class="info__date" href="#reply">Reply</a>
                </div>
                <div class="info__item info__item--center">
                  <svg class="thumb thumb--pos">
                    <use xlink:href="img/sprite.svg#ThumbOk">
                    </use>
                  </svg>
                  <span class="info__num-sign">+</span>
                  <span class="info__num info__num--green info__num-value date">10</span>
                  <svg class="thumb thumb--neg">
                    <use xlink:href="img/sprite.svg#Thumb">
                    </use>
                  </svg>
                </div>
              </div>
            </article>
          </div>
        </div>
        <div class="comment-user__item">
          <div class="comment-user__content comment-user__content--reply">
            <a href="#" class="comment-user__link">
              <img src="img/user-2.png" alt="a girl with a big list of tree" class="comment-user__img">
            </a>
            <article class="comment-user__info">
              <h3 class="comment-user__name title">Lora Morrow</h3>
              <span class="comment-user__data date">July 17, 6:41 pm</span>
              <p class="comment-user__text">
                Likewise, most states in the Persian Gulf were handed over to those who could protect and safeguard
                imperial interests in the post-withdrawal phase
              </p>
              <div class="comment-user__icons info">
                <div class="info__item info__item--center">
                  <svg class="comment">
                    <use xlink:href="img/sprite.svg#Comment">
                    </use>
                  </svg>
                  <a class="info__date" href="#reply">Reply</a>
                </div>
                <div class="info__item info__item--center">
                  <svg class="thumb thumb--pos">
                    <use xlink:href="img/sprite.svg#ThumbOk">
                    </use>
                  </svg>
                  <span class="info__num-sign"></span>

                  <span class="info__num info__num--default info__num-value date">0</span>
                  <svg class="thumb thumb--neg">
                    <use xlink:href="img/sprite.svg#Thumb">
                    </use>
                  </svg>
                </div>
              </div>
            </article>
          </div>
        </div>
        <div class="comment-user__item">
          <div class="comment-user__content">
            <a href="#" class="comment-user__link">
              <img src="img/user-3.png" alt="a woman with long beautiful hair" class="comment-user__img">
            </a>
            <article class="comment-user__info">
              <h3 class="comment-user__name title">Tara Stark</h3>
              <span class="comment-user__data date">July 17, 6:53 pm</span>
              <p class="comment-user__text">
                French Indochina was divided into five subdivisions: Tonkin, Annam, Cochinchina, Cambodia and Laos.
                Cochinchina was the first territory under French Control. Saigon was conquired in 1859. Then, in 1887,
                the Indochinese Union was established.
              </p>
              <div class="comment-user__icons info">
                <div class="info__item info__item--center">
                  <svg class="comment">
                    <use xlink:href="img/sprite.svg#Comment">
                    </use>
                  </svg>
                  <a class="info__date" href="#reply">Reply</a>
                </div>
                <div class="info__item info__item--center">
                  <svg class="thumb thumb--pos">
                    <use xlink:href="img/sprite.svg#ThumbOk">
                    </use>
                  </svg>
                  <span class="info__num-sign"></span>

                  <span class="info__num info__num--red info__num-value date">-3</span>
                  <svg class="thumb thumb--neg">
                    <use xlink:href="img/sprite.svg#Thumb">
                    </use>
                  </svg>
                </div>
              </div>
            </article>
          </div>
        </div>
        <div class="comment-user__item">
          <div class="comment-user__content">
            <a href="#" class="comment-user__link">
              <img src="img/user-4.png" alt="a man in a hat" class="comment-user__img">
            </a>
            <article class="comment-user__info">
              <h3 class="comment-user__name title">Kris Robertson</h3>
              <span class="comment-user__data date">July 17, 7:12 pm</span>
              <p class="comment-user__text">
                Indian Marxist scholar Vivek Chibber has critiqued some foundational logics of Postcolonial Theory in
                his
                book Postcolonial Theory and the Specter of Capital
              </p>
              <div class="comment-user__icons info">
                <div class="info__item info__item--center">
                  <svg class="comment">
                    <use xlink:href="img/sprite.svg#Comment">
                    </use>
                  </svg>
                  <a class="info__date" href="#reply">Reply</a>
                </div>
                <div class="info__item info__item--center">
                  <svg class="thumb thumb--pos">
                    <use xlink:href="img/sprite.svg#ThumbOk">
                    </use>
                  </svg>
                  <span class="info__num-sign"></span>

                  <span class="info__num info__num--default info__num-value date">0</span>
                  <svg class="thumb thumb--neg">
                    <use xlink:href="img/sprite.svg#Thumb">
                    </use>
                  </svg>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
    <div class="comments__btn-center">
      <button class="btn-reset btn btn--more">
        <svg class="load">
          <use xlink:href="img/sprite.svg#Loading">
          </use>
        </svg>
        Load more</button>
    </div>
    <form class="comments__form form" id="reply">
      <div class="form__block-img">
        <img src="img/user-5.png" alt="A girl in warm clothes" class="form__img">
      </div>
      <div class="form__btns">
        <h4 class="title form__label">What do you think?</h4>
        <div class="form__poligon">
          <textarea class="form__textarea">
          </textarea>
        </div>
        <button class="btn-reset btn btn--read form__btn" type="submit">Submit
        </button>
      </div>

    </form>
  </div>
</section>