<div class="herous">
  <div class="container">
    <div class="herous__mark">
      <svg class="bookmark-big">
        <use xlink:href="img/sprite.svg#mark">
        </use>
      </svg>
    </div>
    <div class="herous__content-grid grid">
      <div class="herous__content">
        <p class="subtitle herous__subtitle">destination</p>
        <article class="herous__article">
          <h2 class="title herous__title"><a class="herous__link" href="#">Five Travel Stories From 2017 to Help You
              Escape Into the World</a></h2>
          <p class="herous__text">From the coastlines of Europe to remote Kodiak Island, Alaska, here are five of our
            favorite stories to help you explore the world</p>
        </article>
        <div class="herous__data-info info">
          <div class="info__item info__item--center">
            <svg class="clock herous__icon">
              <use xlink:href="img/sprite.svg#Clock">
              </use>
            </svg>
            <span class="info__span">Aug 6, 10:23 pm</span>
          </div>
          <div class="info__item info__item--center">
            <svg class="heart herous__icon">
              <use xlink:href="img/sprite.svg#Heart">
              </use>
            </svg>
            <span class="info__span">830</span>
          </div>
          <a class="info__item info__item--center" href="#comment-read">

            <svg class="comment herous__icon">
              <use xlink:href="img/sprite.svg#Comment">
              </use>
            </svg>

            <span class="info__span">19</span>
          </a>
          <button class="btn-reset btn btn--transparency info__btn-share">
            <svg class="share">
              <use xlink:href="img/sprite.svg#Share">
              </use>
            </svg>
            142 shares
          </button>
        </div>
      </div>
      <div class="herous__pagination">
        <div class="pagination">
          <a class="pagination__item" href="index.html">
            <svg class="home">
              <use xlink:href="img/sprite.svg#Home">
              </use>
            </svg>
            <span class="pagination__span">Back to main</span>
          </a>
          <a class="pagination__item" href="#">
            <svg class="arrow-prev">
              <use xlink:href="img/sprite.svg#prev">
              </use>
            </svg>
            <span class="pagination__span">Prev</span>
          </a>
          <a class="pagination__item" href="#">
            <span class="pagination__span">Next</span>
            <svg class="arrow-next">
              <use xlink:href="img/sprite.svg#next">
              </use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>