<section class="hero">
  <div class="container">
    <ul class="list-reset hero__list">
      <li class="hero__item ">
        <a href="#" class="hero__link">
          <h2 class="title hero__subtitle ">25 Songs That Tell Us Where Music Is Going</h2>
          <img src="img/1-s.jpg" alt="A light gitar" class="hero__img">
        </a>
      </li>
      <li class="hero__item">
        <a href="#" class="hero__link">
          <h2 class="title hero__subtitle">These Ancient Assassins Eat Their Own Kind</h2>
          <img src="img/2-s.jpg" alt="A baterfly on a flower" class="hero__img">
        </a>
      </li>
      <li class="hero__item ">
        <a href="#" class="hero__link">
          <h2 class="title hero__subtitle">How Do You Teach People to Love Difficult Music?</h2>
          <img src="img/3-s.jpg" alt="A dark man" class="hero__img">
        </a>
      </li>
      <li class="hero__item ">
        <a href="#" class="hero__link">
          <h2 class="title hero__subtitle">International Soccer’s Man of Mystery</h2>
          <img src="img/4-s.jpg" alt="A big stadium" class="hero__img hero__img--transform">
        </a>
      </li>
    </ul>
    @include('tabs.html')
  </div>
</section>