<section class="hot">
  <div class="container hot-grid">
    <div class="hot__slider ">
      <div class="slider">
        <div class="slider__slide slide">
          <p class="slide__accent">Hot</p>
          <img src="img/hot-1.jpg" alt="A big sheep" class="slide__img">
          <div class="slide__content">
            <div class="slide__author">
              <img src="img/hot-2.png" alt="A girl in a big hat" class="slide__avatar">
              <p class="slide__name">By Sarah Jenkins</p>
              <span>Photographer</span>
            </div>
            <h2 class="title slide__title">
              Readers' Choice winners: Your wine country favorites
            </h2>
            <a href="#" class="btn-reset btn hot__btn">
              <svg class="photo">
                <use xlink:href="img/sprite.svg#photos">
                </use>
              </svg>
              Watch photos <span class="date  date--white hot__date">26</span>
            </a>
          </div>
        </div>
        <div class="slider__slide slide">
          <p class="slide__accent">Hot</p>
          <img src="img/hot-1.jpg" alt="A sheep in a sea" class="slide__img">
          <div class="slide__content">
            <div class="slide__author">
              <img src="img/hot-2.png" alt="A girl with beautiful eyes" class="slide__avatar">
              <p class="slide__name">By Sarah Jenkins</p>
              <span>Photographer</span>
            </div>
            <h2 class="title slide__title">
              Readers' Choice winners: Your wine country favorites
            </h2>
            <a href="#" class="btn-reset btn hot__btn">
              <svg class="photo">
                <use xlink:href="img/sprite.svg#photos">
                </use>
              </svg>
              Watch photos <span class="date  date--white hot__date">26</span>
            </a>
          </div>
        </div>
        <div class="slider__slide slide">
          <p class="slide__accent">Hot</p>
          <img src="img/hot-1.jpg" alt="A sheep" class="slide__img">
          <div class="slide__content">
            <div class="slide__author">
              <img src="img/hot-2.png" alt="A girl looks pretty" class="slide__avatar">
              <p class="slide__name">By Sarah Jenkins</p>
              <span>Photographer</span>
            </div>
            <h2 class="title slide__title">
              Readers' Choice winners: Your wine country favorites
            </h2>
            <a href="#" class="btn-reset btn hot__btn">
              <svg class="photo">
                <use xlink:href="img/sprite.svg#photos">
                </use>
              </svg>
              Watch photos <span class="date  date--white hot__date">26</span>
            </a>
          </div>
        </div>
        <div class="slider__slide slide">
          <p class="slide__accent">Hot</p>
          <img src="img/hot-1.jpg" alt="A sheep" class="slide__img">
          <div class="slide__content">
            <div class="slide__author">
              <img src="img/hot-2.png" alt="A girl in a summer hat" class="slide__avatar">
              <p class="slide__name">By Sarah Jenkins</p>
              <span>Photographer</span>
            </div>
            <h2 class="title slide__title">
              Readers' Choice winners: Your wine country favorites
            </h2>
            <a href="#" class="btn-reset btn hot__btn">
              <svg class="photo">
                <use xlink:href="img/sprite.svg#photos">
                </use>
              </svg>
              Watch photos <span class="date  date--white hot__date">26</span>
            </a>
          </div>
        </div>
        <div class="slider__slide slide">
          <p class="slide__accent">Hot</p>
          <img src="img/hot-1.jpg" alt="A sheep" class="slide__img">
          <div class="slide__content">
            <div class="slide__author">
              <img src="img/hot-2.png" alt="A girl with long hair" class="slide__avatar">
              <p class="slide__name">By Sarah Jenkins</p>
              <span>Photographer</span>
            </div>
            <h2 class="title slide__title">
              Readers' Choice winners: Your wine country favorites
            </h2>
            <a href="#" class="btn-reset btn hot__btn">
              <svg class="photo">
                <use xlink:href="img/sprite.svg#photos">
                </use>
              </svg>
              Watch photos <span class="date  date--white hot__date">26</span>
            </a>
          </div>
        </div>

      </div>
    </div>

    <article class="hot__item hot__item--background flex">
      <div class="hot__content">
        <p class="subtitle hot__subtitle">careers</p>
        <h2 class="title hot__title">Had a Job Interview but No Callback? Here’s What to Do</h2>
        <p class="hot__text">
          Try to understand the culture of the company where you want to work and be authentic in your interview,
          experts emphasize
        </p>
        <a href="#" class="btn-reset btn btn--read hot__btn">Read more</a>
      </div>
      <img src="img/hot-3.jpg" alt="A woman with a circle" class="hot__img">
    </article>

    <article class="hot__item hot__item--child-one">
      <h3 class="title hot__item-title"><a class="hot__link" href="#">Is Coffee Bad for Bones?</a></h3>
      <p class="hot__item-text">
        <a class="hot__link" href="#">
          Coffee drinkers may excrete more calcium, but it
          doesn’t appear to weaken bones
        </a>
      </p>
      <span class="date">Oct 15</span>
    </article>
    <article class="hot__item hot__item--child-two">
      <h3 class="title hot__item-title"><a class="hot__link" href="#">What We Manufacture</a></h3>
      <p class="hot__item-text">
        <a class="hot__link" href="#">
          A global history of the factory and the modern world
          that all should read
        </a>
      </p>
      <span class="date">Oct 14</span>
    </article>
  </div>
</section>