<nav class="navigation">
  <div class="container">
    <ul class="list-reset header__navigation navigation__list">
      <li class="navigation__item"><a href="#" class="navigation__link">news</a></li>
      <li class="navigation__item"><a href="#" class="navigation__link">opinion</a></li>
      <li class="navigation__item"><a href="#" class="navigation__link">science</a></li>
      <li class="navigation__item"><a href="#" class="navigation__link">life</a></li>
      <li class="navigation__item"><a href="article.html" class="navigation__link">travel</a></li>
      <li class="navigation__item"><a href="#" class="navigation__link">moneys</a></li>
      <li class="navigation__item"><a href="#" class="navigation__link">art & design</a></li>
      <li class="navigation__item"><a href="#" class="navigation__link">sports</a></li>
      <li class="navigation__item"><a href="#" class="navigation__link">people</a></li>
      <li class="navigation__item"><a href="#" class="navigation__link">health</a></li>
      <li class="navigation__item"><a href="#" class="navigation__link">education</a></li>
    </ul>
  </div>
</nav>