<div class="note">
  <div class="container">
    <div class="note__content cards">
      <ul class="cards__list">
        <li class="list-reset cards__item">

          <article class="cards__content">
            <img src="img/blog-1.jpg" alt="A pasta on a plate" class="cards__img">
            <h4 class="title cards__title">
              <a href="#" class="cards__link">An Evangelist of Singaporean Food Has a New Pulpit</a>
            </h4>
            <div class="cards__notification info">
              <div class="info__item">
                <svg class="eye">
                  <use xlink:href="img/sprite.svg#Eye">
                  </use>
                </svg>
                <span class="info__date date">1,904</span>
              </div>
              <div class="info__item">
                <svg class="comment">
                  <use xlink:href="img/sprite.svg#Comment">
                  </use>
                </svg>
                <span class="info__date date">82</span>
              </div>
            </div>
          </article>

        </li>
        <li class="list-reset cards__item">
          <article class="cards__content">
            <img src="img/blog-2.jpg" alt="A fast river" class="cards__img">
            <h4 class="title cards__title"><a href="#" class="cards__link">At the Mouth of the Mississippi, a Weird and
                Fragile Beauty</a></h4>
            <div class="cards__notification info">
              <div class="info__item">
                <svg class="eye">
                  <use xlink:href="img/sprite.svg#Eye">
                  </use>
                </svg>
                <span class="info__date date">2,873</span>
              </div>
              <div class="info__item">
                <svg class="comment">
                  <use xlink:href="img/sprite.svg#Comment">
                  </use>
                </svg>
                <span class="info__date date">982</span>
              </div>
            </div>
          </article>

        </li>
        <li class="list-reset cards__item">
          <article class="cards__content">
            <img src="img/blog-3.jpg" alt="A yellow small flowers" class="cards__img">
            <h4 class="title cards__title"><a href="#" class="cards__link">Chattanooga Is Changing. But Its Charms
                Remain.</a></h4>
            <div class="cards__notification info">
              <div class="info__item">
                <svg class="eye">
                  <use xlink:href="img/sprite.svg#Eye">
                  </use>
                </svg>
                <span class="info__date date">821</span>
              </div>
              <div class="info__item">
                <svg class="comment">
                  <use xlink:href="img/sprite.svg#Comment">
                  </use>
                </svg>
                <span class="info__date date">30</span>
              </div>
            </div>
          </article>

        </li>
        <li class="list-reset cards__item">

          <article class="cards__content">
            <img src="img/blog-4.jpg" alt="A girl in a car" class="cards__img">
            <h4 class="title cards__title"><a href="#" class="cards__link">How to Get by in a Country if You Don’t Know
                the Language</a></h4>
            <div class="cards__notification info">
              <div class="info__item">
                <svg class="eye">
                  <use xlink:href="img/sprite.svg#Eye">
                  </use>
                </svg>
                <span class="info__date date">5,030</span>
              </div>
              <div class="info__item">
                <svg class="comment">
                  <use xlink:href="img/sprite.svg#Comment">
                  </use>
                </svg>
                <span class="info__date date">495</span>
              </div>
            </div>
          </article>

        </li>
      </ul>
    </div>
  </div>
</div>