<section class="notes">
  <div class="container notes-flex">
    <div class="big-block">
      <div class="big-block__card card flex">

        <div class="card__block-img">
          <img src="img/des1.jpg" alt="Two hand up" class="card__img">
        </div>
        <article class="card__content">
          <p class="subtitle card__subtitle card__subtitle--blue">flights</p>
          <label for="card__input-check" class=" card__label">
            <input class="hidden-checkbox card__input" id="card__input-check" type="checkbox">
            <svg class="bookmark">
              <use xlink:href="img/spriteStyle.svg#Bookmark">
              </use>
            </svg>
          </label>
          <h3 class="title card__title">
            <a class="card__link" href="#">Passengers Suffer as Crowded Field Puts Pressure on
              Europe’s Airlines</a>
          </h3>
          <p class="card__text">
            <a class="card__link" href="#">
              Weaker carriers have fallen by the wayside amid fierce competition, while others have
              been hit by bad luck. The result: thousands of canceled flights.
            </a>
          </p>
          <div class="info info--note">
            <span class="date">Aug 6</span>
            <div class="info__item">
              <svg class="comment">
                <use xlink:href="img/sprite.svg#Comment">
                </use>
              </svg>
              <span class="date">342</span>
            </div>
            <div class="info__item">
              <svg class="heart">
                <use xlink:href="img/sprite.svg#Heart">
                </use>
              </svg>
              <span class="date">830</span>
            </div>
          </div>
        </article>

      </div>
      <div class="big-block__card card flex">
        <div class="card__block-img">
          <img src="img/desc-2.jpg" alt="Two fruit's sandwich" class="card__img">
        </div>
        <article class="card__content">
          <p class="subtitle card__subtitle card__subtitle--bluegreen">food</p>
          <label for="card__input-check-2" class=" card__label">
            <input class="hidden-checkbox card__input" id="card__input-check-2" type="checkbox" checked>
            <svg class="bookmark">
              <use xlink:href="img/spriteStyle.svg#Bookmark">
              </use>
            </svg>
          </label>
          <h3 class="title card__title"><a class="card__link" href="#">Three Courses, 20 Euros: The Affordable Dining
              Renaissance
              in Paris</a></h3>
          <p class="card__text">
            <a class="card__link" href="#">
              The Los Angeles area, for all of its culinary diversity, has not historically been
              thought of as a haven for bread lovers. The area has a reputation as a place where gluten fears to tread.
            </a>
          </p>
          <div class="info info--note">
            <span class="date">Oct 7</span>
            <div class="info__item">
              <svg class="comment">
                <use xlink:href="img/sprite.svg#Comment">
                </use>
              </svg>
              <span class="date">27</span>
            </div>
            <div class="info__item">
              <svg class="heart">
                <use xlink:href="img/sprite.svg#Heart">
                </use>
              </svg>
              <span class="date">129</span>
            </div>
          </div>
        </article>
      </div>
      <div class="big-block__card card flex">
        <div class="card__block-img">
          <img src="img/desc-3.jpg" alt="A red flower" class="card__img">
        </div>
        <article class="card__content">
          <p class="subtitle card__subtitle card__subtitle--red">Science</p>
          <label for="card__input-check-3" class=" card__label">
            <input class="hidden-checkbox card__input" id="card__input-check-3" type="checkbox">
            <svg class="bookmark">
              <use xlink:href="img/spriteStyle.svg#Bookmark">
              </use>
            </svg>
          </label>
          <h3 class="title card__title"><a class="card__link" href="#">Watch the High-Flying Physics of a Plant’s
              Exploding
              Fruits</a></h3>
          <p class="card__text">
            <a class="card__link" href="#">
              Three undergradute physics majors and their professor worked out how the hairyflower
              wild petunia shoots tiny seeds more than 20 feet through the air
            </a>
          </p>
          <div class="info info--note">
            <span class="date">Oct 11</span>
            <div class="info__item">
              <svg class="comment">
                <use xlink:href="img/sprite.svg#Comment">
                </use>
              </svg>
              <span class="date">30</span>
            </div>
            <div class="info__item">
              <svg class="heart">
                <use xlink:href="img/sprite.svg#Heart">
                </use>
              </svg>
              <span class="date">284</span>
            </div>
          </div>
        </article>
      </div>
      <div class="big-block__card card flex">
        <div class="card__block-img">
          <img src="img/desc-4.jpg" alt="A man in a sea" class="card__img">
        </div>
        <article class="card__content">
          <p class="subtitle card__subtitle card__subtitle--bluegreen">health</p>
          <label for="card__input-check-4" class=" card__label">
            <input class="hidden-checkbox card__input" id="card__input-check-4" type="checkbox">
            <svg class="bookmark">
              <use xlink:href="img/spriteStyle.svg#Bookmark">
              </use>
            </svg>
          </label>
          <h3 class="title card__title"><a class="card__link" href="#">How the Shape of Your Ears Affects What You
              Hear</a></h3>
          <p class="card__text">
            <a class="card__link" href="#">
              We’re able to locate sound because our brains grasp the shape of our ears. When that
              shape changes, we need time and practice to adapt. Ears are a peculiarly individual piece of anatomy.
            </a>
          </p>
          <div class="info info--note">
            <span class="date">Oct 19</span>
            <div class="info__item">
              <svg class="comment">
                <use xlink:href="img/sprite.svg#Comment">
                </use>
              </svg>
              <span class="date">102</span>
            </div>
            <div class="info__item">
              <svg class="heart">
                <use xlink:href="img/sprite.svg#Heart">
                </use>
              </svg>
              <span class="date">1,293</span>
            </div>
          </div>
        </article>
      </div>
      <div class="big-block__card card flex">
        <div class="card__block-img">
          <img src="img/desc-5.jpg" alt="The top of many trees" class="card__img">
        </div>
        <article class="card__content">
          <p class="subtitle card__subtitle card__subtitle--red">science</p>
          <label for="card__input-check-5" class=" card__label">
            <input class="hidden-checkbox card__input" id="card__input-check-5" type="checkbox">
            <svg class="bookmark">
              <use xlink:href="img/spriteStyle.svg#Bookmark">
              </use>
            </svg>
          </label>
          <h3 class="title card__title"><a class="card__link" href="#">Forests Protect the Climate. A Future With More
              Storms
              Would Mean Trouble.</a></h3>
          <p class="card__text">
            <a class="card__link" href="#">
              With an increase in extreme weather expected in the years to come, forests could be
              changed permanently as the world continues to warm
            </a>
          </p>
          <div class="info info--note">
            <span class="date">Oct 22</span>
            <div class="info__item">
              <svg class="comment">
                <use xlink:href="img/sprite.svg#Comment">
                </use>
              </svg>
              <span class="date">5</span>
            </div>
            <div class="info__item">
              <svg class="heart">
                <use xlink:href="img/sprite.svg#Heart">
                </use>
              </svg>
              <span class="date">82</span>
            </div>
          </div>
        </article>
      </div>
      <div class="big-block__card card flex">
        <div class="card__block-img">
          <img src="img/desc-6.jpg" alt="A part of building" class="card__img">
        </div>
        <article class="card__content">
          <p class="subtitle card__subtitle card__subtitle--purple">Art & design</p>
          <label for="card__input-check-6" class=" card__label">
            <input class="hidden-checkbox card__input" id="card__input-check-6" type="checkbox">
            <svg class="bookmark">
              <use xlink:href="img/spriteStyle.svg#Bookmark">
              </use>
            </svg>
          </label>
          <h3 class="title card__title"><a class="card__link" href="#">New Contemporary Institute Reverberates in
              Richmond’s
              Historic Landscape</a></h3>
          <p class="card__text">
            <a class="card__link" href="#">
              The center, which will open in April, takes a bold look at race and other social issues
              that still resonate in the region as well as the nation. A new Institute for Contemporary Art is set to
              open.
            </a>
          </p>
          <div class="info info--note">
            <span class="date">Oct 26</span>
            <div class="info__item">
              <svg class="comment">
                <use xlink:href="img/sprite.svg#Comment">
                </use>
              </svg>
              <span class="date">101</span>
            </div>
            <div class="info__item">
              <svg class="heart">
                <use xlink:href="img/sprite.svg#Heart">
                </use>
              </svg>
              <span class="date">432</span>
            </div>
          </div>
        </article>
      </div>
    </div>
    <div class="aside">
      <h2 class="aside__title">Recommended for you</h2>
      <ul class="list-reset aside__list">
        <li class="aside__item aside__item--line flex">
          <img src="img/rec-1.jpg" alt="The woman in a red dress" class="aside__img">
          <div class="aside__item-info">
            <p class="aside__item-text"><a class="aside__item-link" href="#">Office Meetings Leave the Office</a></p>
            <span class="date">15 minute ago</span>
          </div>
          <span class="number">1</span>
        </li>
        <li class="aside__item aside__item--line flex">
          <img src="img/rec-2.jpg" alt="A bird on a branch" class="aside__img">
          <div class="aside__item-info">
            <p class="aside__item-text"><a class="aside__item-link" href="#">Experimental Vocal Music in Brooklyn</a>
            </p>
            <span class="date">32 minutes ago</span>
          </div>
          <span class="number">2</span>
        </li>
        <li class="aside__item aside__item--line flex">
          <img src="img/rec-3.jpg" alt="A palm in a water" class="aside__img">
          <div class="aside__item-info">
            <p class="aside__item-text"><a class="aside__item-link" href="#">Google’s Influence Over Think Tanks</a></p>
            <span class="date">38 minutes ago</span>
          </div>
          <span class="number">3</span>
        </li>

        <li class="aside__item aside__item--line flex">
          <img src="img/rec-4.jpg" alt="The woman is looking at cloud" class="aside__img">
          <div class="aside__item-info">
            <p class="aside__item-text"><a class="aside__item-link" href="#">Homes for Sale in NYC and Connecticut</a>
            </p>
            <span class="date">53 minutes ago</span>
          </div>
          <span class="number">4</span>
        </li>
        <li class="aside__item aside__item--line flex">
          <img src="img/rec-5.jpg" alt="A cap in a card" class="aside__img">
          <div class="aside__item-info">
            <p class="aside__item-text"><a class="aside__item-link" href="#">Are You There, Dad? It’s Me, Alice</a></p>
            <span class="date">1 hour ago</span>
          </div>
          <span class="number">5</span>
        </li>
        <li class="aside__item aside__item--line flex">
          <img src="img/rec-6.jpg" alt="Two window on a wall" class="aside__img">
          <div class="aside__item-info">
            <p class="aside__item-text"><a class="aside__item-link" href="#">The New Punk Look: Lacy and Colorful</a>
            </p>
            <span class="date">1 hour ago</span>
          </div>
          <span class="number">6</span>
        </li>
        <li class="aside__item aside__item flex">
          <img src="img/rec-7.jpg" alt="Many derty glasses" class="aside__img">
          <div class="aside__item-info">
            <p class="aside__item-text"><a class="aside__item-link" href="#">Sunday Best in Harlem and Brooklyn</a></p>
            <span class="date">2 hours ago</span>
          </div>
          <span class="number">7</span>
        </li>
      </ul>
      <a href="#" class="btn-reset aside__btn">Read more</a>
    </div>
  </div>
</section>