<div class="tabs">
  <div class="tabs__left">
    <div class="tabs__conteiner tab active">
      <img src="img/hero-1.jpg" alt="Beautiful nature view " class="tab__img">
      <div class="tab__content">
        <div class="author-block tab__author flex">
          <img src="img/hero-avatar.png" alt="A man with a beard" class="tab__avatar">
          <div class="author-block__info tab__info">
            <p class="name">By Benjamin Turner</p>
            <span>Traveler</span>
          </div>
        </div>
        <h3 class="subtitle tab__text">destinations</h3>
        <h2 class=" title tab__title">In Southeast England, White Cliffs and Fish</h2>
        <div class="tab__btns">
          <a href="#" class="btn-reset btn btn--read tab__btn">Read more</a>
          <div class="tab__video-link video">
            <a href="https://youtu.be/a78lWX2KUu4" class="video__link" target="_blank">
              <svg class="video-icon video__icon">
                <use xlink:href="img/sprite.svg#Video">
                </use>
              </svg>
            </a>
            <div class="video__text">
              <span class="video__span">The chalk cliff of Beachy Head</span>
              <div class="time">18:05</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tabs__conteiner tab">
      <img src="img/tab-2.jpg" alt="The storm in a ocean" class="tab__img">
      <div class="tab__content">
        <div class="author-block tab__author flex">
          <img src="img/hero-avatar.png" alt="A man with a moustash" class="tab__avatar">
          <div class="author-block__info tab__info">
            <p class="name">By Benjamin Turner</p>
            <span>Traveler</span>
          </div>
        </div>
        <p class="subtitle subtitle tab__text">destinations</p>
        <h2 class=" title tab__title">In Southeast England, White Cliffs and Fish</h2>
        <div class="tab__btns">
          <a href="#" class="btn-reset btn btn--read tab__btn">Read more</a>
          <div class="tab__video-link video">
            <a href="https://youtu.be/a78lWX2KUu4" class="video__link" target="_blank">
              <svg class="video-icon video__icon">
                <use xlink:href="img/sprite.svg#Video">
                </use>
              </svg>
            </a>
            <div class="video__text">
              <span class="video__span">The chalk cliff of Beachy Head</span>
              <div class="time">18:05</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tabs__conteiner tab">
      <img src="img/tab-3.jpg" alt="The military ship in the ocean" class="tab__img">
      <div class="tab__content">
        <div class="author-block tab__author flex">
          <img src="img/hero-avatar.png" alt="A white man " class="tab__avatar">
          <div class="author-block__info tab__info">
            <p class="name">By Benjamin Turner</p>
            <span>Traveler</span>
          </div>
        </div>
        <p class="subtitle subtitle tab__text">destinations</p>
        <h2 class=" title tab__title">In Southeast England, White Cliffs and Fish</h2>
        <div class="tab__btns">
          <a href="#" class="btn-reset btn btn--read tab__btn">Read more</a>
          <div class="tab__video-link video">
            <a href="https://youtu.be/a78lWX2KUu4" class="video__link" target="_blank">
              <svg class="video-icon video__icon">
                <use xlink:href="img/sprite.svg#Video">
                </use>
              </svg>
            </a>
            <div class="video__text">
              <span class="video__span">The chalk cliff of Beachy Head</span>
              <div class="time">18:05</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tabs__conteiner tab">
      <img src="img/tab-4.jpg" alt="A man is watching a tablet with a stilus" class="tab__img">
      <div class="tab__content">
        <div class="author-block tab__author flex">
          <img src="img/hero-avatar.png" alt="A strong man" class="tab__avatar">
          <div class="author-block__info tab__info">
            <p class="name">By Benjamin Turner</p>
            <span>Traveler</span>
          </div>
        </div>
        <p class="subtitle subtitle tab__text">destinations</p>
        <h2 class=" title tab__title">In Southeast England, White Cliffs and Fish</h2>
        <div class="tab__btns">
          <a href="#" class="btn-reset btn btn--read tab__btn">Read more</a>
          <div class="tab__video-link video">
            <a href="https://youtu.be/a78lWX2KUu4" class="video__link" target="_blank">
              <svg class="video-icon video__icon">
                <use xlink:href="img/sprite.svg#Video">
                </use>
              </svg>
            </a>
            <div class="video__text">
              <span class="video__span">The chalk cliff of Beachy Head</span>
              <div class="time">18:05</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tabs__conteiner tab">
      <img src="img/tab-5.jpg" alt="The hand of someone pick up a book from a shelf" class="tab__img">
      <div class="tab__content">
        <div class="author-block tab__author flex">
          <img src="img/hero-avatar.png" alt="A man with chort haircut" class="tab__avatar">
          <div class="author-block__info tab__info">
            <p class="name">By Benjamin Turner</p>
            <span>Traveler</span>
          </div>
        </div>
        <p class="subtitle subtitle tab__text">destinations</p>
        <h2 class=" title tab__title">In Southeast England, White Cliffs and Fish</h2>
        <div class="tab__btns">
          <a href="#" class="btn-reset btn btn--read tab__btn">Read more</a>
          <div class="tab__video-link video">
            <a href="https://youtu.be/a78lWX2KUu4" class="video__link" target="_blank">
              <svg class="video-icon video__icon">
                <use xlink:href="img/sprite.svg#Video">
                </use>
              </svg>
            </a>
            <div class="video__text">
              <span class="video__span">The chalk cliff of Beachy Head</span>
              <div class="time">18:05</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- tabs-control       -->
  <div class="tabs__right preview">
    <div class="preview__item preview__item--center">
      <div class="preview__content">
        <h3 class="preview__title">Recommended for you</h3>
      </div>
    </div>
    <div class="preview__item preview__item--click active">
      <div class="preview__content">
        <h3 class="subtitle preview__subtitle preview__subtitle--bluegreen">food</h3>
        <p class="preview__text preview__text--video">
          For Chicken-Fried Steak, Too Much Is Just Enough
        </p>
      </div>
    </div>
    <div class="preview__item preview__item--click">
      <div class="preview__content">
        <h3 class="subtitle preview__subtitle preview__subtitle--greyblue">cars</h3>
        <p class="preview__text">
          Storm Has Car Dealers Doing Swift Business
        </p>
      </div>
    </div>
    <div class="preview__item preview__item--click">
      <div class="preview__content">
        <h3 class="preview__subtitle preview__subtitle--purple">movies</h3>
        <p class="preview__text">
          War Is Hell? In New Military Dramas, It’s One-Dimensional
        </p>
      </div>
    </div>
    <div class="preview__item preview__item--click">
      <div class="preview__content">
        <h3 class="subtitle preview__subtitle preview__subtitle--orange">nfl</h3>
        <p class="preview__text preview__text--video">
          11 surprising stat rankings for active NFL players
        </p>
      </div>
    </div>
    <div class="preview__item preview__item--click">
      <div class="preview__content">
        <h3 class="subtitle preview__subtitle preview__subtitle--green">tech reviews</h3>
        <p class="preview__text">
          The bookcases you can buy online and assemble yourself
        </p>
      </div>
    </div>

  </div>
</div>